body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-weight: bold;
}

h1 {
    font-size: larger;
}


header h1 {
    font-size:larger;
    color: steelblue;
    font-style: italic;
    
}
header h3{
    font-size: large;
}
header img {
    float: left;
    margin-right: 10px
}


section{
    clear:left;
}
section a:link, section a:visited {
    color: maroon;
}
section a:hover, section a:focus {
    color: steelblue;
}


aside h2 {
    color: maroon;
}
aside ul {
    line-height: 1.5;
}
aside a:link, aside a:visited {
    color: steelblue;
}
aside a:hover, aside a:focus {
    color: maroon;
}


footer {
    font-size: x-small;
    text-align: center;
}